body {
    font-family: 'open sans', 'roboto', sans-serif;
    background-color: #f4f4f4;
}

nav {
    float: right;
    padding: 20px 20px;
}

main {
    position: relative;
    float: right;
    width: 50%;
    margin-top: 70px;

}
section {
    position: relative;
    width: 80%;
    margin-bottom: 100%;
}


h1{
    margin-top: 50px;
}

p {
    line-height: 30px;
}

.logo {
display: inline-block;
float: left;
margin-left: 30px;
margin-top: 20px;
}


.nav-item {
    display: inline-block;
    padding: 20px 20px 20px 20px;
}


img#main-photo {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;

}
